<table class="table table-bordered">
  <thead class="h5 table-secondary text-center">
    <tr>
      <th style="width: 15%">既読・未読</th>
      <th style="width: 20%">受領日時</th>
      <th style="width: 55%">申請された物件</th>
      <th style="width: 10%">経過</th>
    </tr>
  </thead>
  <tbody>
    <% notifications.each do |notification| %>
      <% if notification.notice_type == 'message' %>
        <tr>
          <div class="col-sm-5">
            <p class="h5 bg-warning text-danger font-weight-bold text-left d-flex align-items-center">
              <span class="badge badge-danger mr-3">New!!</span>
              新しいお問合せがあります。
            </p>
          </div>
        </tr>
      <% end %>
      <tr>
        <%if notification.notice_type == 'management_notice' %>
          <div class="col-sm-5">
            <p class="h5 bg-warning text-danger font-weight-bold text-left d-flex align-items-center">
              <span class="badge badge-danger mr-3">New!!</span>
              運営からのお知らせがあります。
            </p>
          </div>
        <% end %>
      </tr>
      <tr>
        <%if notification.notice_type == 'reply' %>
          <div class="col-sm-5">
            <p class="h5 bg-warning text-danger font-weight-bold text-left d-flex align-items-center">
              <span class="badge badge-danger mr-3">New!!</span>
              お問い合わせに対する返信があります。
            </p>
          </div>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
<br>
<%= paginate notifications %>