<table class="table table-bordered">
  <thead class="h5 table-secondary text-center">
  </thead>
  <tbody>
    <% notifications.each do |notification| %>
      <% if notification.notice_type == 'message' %>
        <tr>
          <div class="col-sm-5">
            <p class="h5 bg-warning text-danger font-weight-bold text-left d-flex align-items-center">
              <span class="badge badge-danger mr-3">New!!</span>
              新しいお問合せがあります。
            </p>
          </div>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<br>

