<div class="container">
<br>
  <div class="d-grid gap-2 col-5 mx-auto text-center">
    <h2>物件登録完了</h2>
  </div>
<br>
<br>
<br>
<br>
    <h4 class="text-center"><b>物件登録が完了しました。</b></h4><br><br>
    <h4 class="text-center"><b>物件閲覧希望者からの申請をお待ちください。</b></h4><br>

<br>
<br>
</div>