<div class="container">
  <div class="row">
  <%= image_tag 'SHEELE-main-vs', size: "1100x720" %>
  </div>
<br>
<br>
<br>
  <div class"row">
    <div class="d-flex align-items-center justify-content-center">
      <div><h1><span style="font-size:64px">不動産のSHEELEとは？</span></h1></div>
    </div>
  </div>
<br>
<br>
  <div class"row">
    <h4><b>相続や財産分与、任意売却などによる不動産の早期売買に特化した物件情報交換システムです。</b></h4><br>
    <h4><b>宅地建物取引業の免許を持つ会社だけが利用することができます。</b></h4><br>
    <h4><b>売主から依頼を受けた早期売却物件の情報を登録すれば、</b></h4><br>
    <h4><b>買取(仕入れ)希望の会社は物件情報の閲覧申請をすることができます。</b></h4><br>
    <h4><b>元付会社は閲覧申請のあった会社情報を確認して、閲覧許可をするだけです。</b></h4><br>
    <h4><b>お互いに連絡先が開示されるので、以降の商談を進めることができます。</b></h4><br>
  </div>
</div>