<div class="container">
<br>
  <div class="d-grid gap-2 col-5 mx-auto text-center">
    <h2>閲覧申請完了</h2>
  </div>
<br>
<br>
<br>
<br>
    <h4 class="text-center"><b>閲覧申請が完了しました。</b></h4><br><br>
    <h4 class="text-center"><b>元付業者様からの閲覧許可をお待ちください。</b></h4><br>
<br>
<br>
</div>