<div class="container">
<br>
  <div class="d-grid gap-2 col-5 mx-auto text-center">
    <h2>運営からのお知らせ<br>送信完了</h2>
  </div>
<br>
<br>
<br>
<br>
    <h4 class="text-center"><b>運営からのお知らせメッセージ<br>送信が完了しました。</b></h4><br><br>
<br>
<br>
  <div class="row justify-content-center">

    <div class="col-sm-3">
      <%= link_to admin_messages_path, class: "btn btn-secondary text-light btn-lg btn-block" do %>
      <i class="fa-solid fa-backward-step fa-lg"></i>　お知らせ一覧へ戻る
      <% end %>
    </div>
  </div>
<br>
<br>
</div>