<% visitor = notification.visitor %>
<% visited = notification.visited %>
<div class="col-sm-6">
  <% if notification.notice_type == Notification.notice_types[:apply] %>
    <p>新しい閲覧申請があります。</p>
    <%= notification.property.prefecture %>
    <%= notification.property.municipality %>
    <%= notification.property.city_block %>
    <%= notification.property.price %>万円
  <% time_ago_in_words(notification.created_at).upcase %>
  <% elsif notification.notice_type == Notification.notice_types[:message] %>
  <% end %>
</div>
<br>
<br>
<br>
