<% visitor = notification.visitor %>
<% visited = notification.visited %>
<div class="col-sm-6">
  <%= @notification.property.location%>
  <% case notification.notice_type
     when 'apply' %>
    <p>申請が届きました</p>
  <% time_ago_in_words(notification.created_at).upcase %>
</div>

    <% end %>
<br>
<br>
<br>
</div>