<div class="container">
<br>
  <div class="d-grid gap-2 col-5 mx-auto text-center">
    <h2>お問い合わせ返信完了</h2>
  </div>
<br>
<br>
<br>
<br>
    <h4 class="text-center"><b>お問い合わせの返信が完了しました。</b></h4><br><br>
<br>
<br>
  <div class="row justify-content-center">

    <div class="col-sm-3">
      <%= link_to "お知らせ一覧へ戻る", admin_messages_path, class: "btn btn-secondary text-light btn-lg"%>
    </div>
  </div>
<br>
<br>
</div>