<% if flash[:notice] %>
  <p class="h5 alert alert-success text-center"><%= notice %></p>
<% elsif flash[:alert] %>
  <p class="h5 alert alert-danger text-center"><%= alert %>
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  </p>
<% end %>